*.html -linguist-detectable
*.tex -linguist-detectable
*.rmd linguist-detectable
resources/from_paper/online_supplements/replication_package_final/* linguist-vendored
R-code/eda-doc/* linguist-vendored
document/* linguist-documentation
document/resources/* linguist-documentation
